<div class="top-container">
  <h1 class=title>Golfer</h1>
  <p class=sub>※Golferは、奈良県のゴルフ場レビューサイトです。</p>
</div>

  <strong class='guestbtn'><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></strong>
  <strong class='guestbtn'><%= link_to 'ログインしないで使う', not_login_tops_path %></strong>
