<% unless tweet.like_user(current_user.id).blank? %>
  <%= link_to tweet_like_path(tweet_id: tweet.id ,id: tweet.likes[0].id), method: :delete, remote: true, class: 'likebtn' do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to tweet_likes_path(tweet.id), method: :post, remote: true, class: 'likebtn' do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>

<span>いいね数<span>
<% if tweet.likes_count.blank? %>
  <span>0</span>
<% else %>
  <span><%= tweet.likes_count %><span>
<% end %>
