/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap.min.css
 */

 * {
   margin: 5px;
 }

 .notice {
   margin: 0;
 }

 .titlebar {
   display: table;
   width: 100%;
 }

 .header_right {
   display: table-cell;
   text-align: right;
 }

 .header_left {
   display: table-cell;
   text-align: left;
 }
 .dropdown {
   display: inline;
 }

 body header {
   background-color: aliceblue;
   padding: 10px;
 }

 html {
    background: #FFFFEE;
    body{
      background-color: #FFFFEE;
    }
  }

 body,#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 footer {
   text-align: center;
   margin-top: auto;
   background-color: aliceblue;
 }

 img {
    padding: 10px;
    width: 100%;
    max-width: 100%;
 }

 .header_title {
   display: inline;
   :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
 }

 .inline {
   display: inline;
 }

 .header_link {
   display: inline;
   :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
 }

 .pagination a:hover {
    background-color: #FFFFEE;
    text-decoration: none;
 }
