// Place all the styles related to the golves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.golf_table {
  text-align: center;
  width: 300px;
}

.golftable {
  text-align: center;
  :hover {
    background-color: #FFFFEE;
    text-decoration: none;
  }
}

.val_sum {
  font-size: 100%;
  padding: 14px;
}

.fav_title {
  padding-bottom: 20px;
}
