// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mypage_link:hover{
  background-color: #FFFFEE;
  text-decoration: none;
}

.stats {
  // padding: 10px;
}

.all_user {
  background-color: aliceblue;
  padding: 20px;
  :hover{
  background-color: aliceblue;
  text-decoration: none;
}
}

.profile {
  padding: 10px;
}

#follow_form {
  padding: 10px;
  display: inline;
  text-align: right;
}

.tweet_count {
  margin-top: -30px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.users_follow {
  margin-left: 10px;
  padding-top: 10px;
  font-size: larger;
  :hover{
  background-color: #FFFFEE;
  text-decoration: none;
  }
}
