// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mypage_link:hover{
  background-color: #FFFFEE;
  text-decoration: none;
}

.stats {
  display: inline;
}

.all_user {
  background-color: aliceblue;
  padding: 20px;
  :hover{
  background-color: aliceblue;
  text-decoration: none;
}
}
