// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tweet {
  background-color: aliceblue;
  padding: 20px;
}

.golf_name {
  font-size: 150%;
  padding: 10px;
  :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
}

.hoge {
  padding: 10px;
  :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
}

.hoge_right {
  text-align: right;
  :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
}

.tweet_edit {
  text-align: right;
  :hover{
    background-color: aliceblue;
    text-decoration: none;
  }
}

.likebtn {
  color: red;
  :hover{
    background-color: aliceblue;
  }
}

.golf_point :not(.hoge) {
  color: gold;
}

.new_tweet {
  :hover{
    background-color: #FFFFEE;
    text-decoration: none;
  }
}
