<p>こんにちは <%= @resource.username %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスの変更をこちらのアドレスに連絡します。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスの変更をこちらのアドレスに連絡します。 <%= @resource.email %>.</p>
<% end %>
